<integrations>
    <integration name="AgeCheckedPlus+Verifico">
       <email>agechecked@verifico.co.uk</email>
       <endpoint_url>https://agechecked.verifico.io/setup/magento-callback/</endpoint_url>
       <identity_link_url>https://agechecked.verifico.io/setup/magento-oauth-save/</identity_link_url>
    </integration>
 </integrations>