<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/config.xsd">
    <default>
        <verificounitysection>
            <general>
                <enable>0</enable>
                <allowed_countries>GB</allowed_countries>
            </general>
        </verificounitysection>
    </default>
</config>
