<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../vendor/magento/framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Block\Onepage\Success" type="Verifico\Ageverify\Block\Success"/>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="unity_age_verification_status" type="Verifico\Ageverify\Plugin\Api\OrderRepository"/>
    </type>
</config>